:root {
  --mainColor: #303030;
  --secondaryColor: #ffffff;
}
body{
  background-color: lime;
  margin: 0;
}
nav{
  display: flex;
  color: var(--secondaryColor);
  background-color: var(--mainColor);
  max-width: 100%;
  height: 9vw;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul{
  list-style: none;
  text-align: center;
}
nav li{
  display: inline;
  font-size: 1.5em;
  padding: 0.5em 1.5em;
}
nav a {
  text-decoration: none;
  color: var(--secondaryColor);
}
footer{
  display: flex;
  color: var(--secondaryColor);
  background-color: var(--mainColor);
  max-width: 100%;
  height: 9vw;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer ul{
  list-style: none;
  text-align: center;
}
footer li{
  display: inline;
  font-size: 1.5em;
  padding: 0.5em 1.5em;
}
footer a {
  text-decoration: none;
  color: var(--secondaryColor);
}
#indexVideo{
  display: block;
  width: 100%;
  background-color: var(--mainColor);
}
#index-border{
  height: 20px;
  border-top: solid var(--secondaryColor) 2px;
  border-bottom: solid var(--secondaryColor) 2px;
  background-color: var(--mainColor);
}
#grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
#news-img, #news-txt{
  height: 25vw;
}
#news-img img{
  height: 25vw;
  width: 100%;
  object-fit: cover;
}
#news-txt{
  background-color: var(--mainColor);
  color: var(--secondaryColor);
  margin: 0px;
  padding: 30px;
  text-align: center;
  font-size: larger;
}